Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of 2 to 5 , print Not Weird
If  is even and in the inclusive range of 6  to 20 , print Weird
If  is even and greater than  20 , print Not Weird

In [18]:
#enter value check number what about is 
n =int(input("enter number:"))

enter number:24

In [19]:
    if (n%2==1):
        print("Weird")
    else :
        if n in range (2,6):
             print("Not Weird")
        elif n in range(6,21) :
            print("Weird")
        else:
             print("Not Weird")

Not Weird

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [1]:
#enter values make some operation  
n1 =int(input("enter number1:"))
n2 =int(input("enter number2:"))

enter number1:8
enter number2:-2

In [3]:
print(n1+n2)
print(n1-n2)
print(n1*n2)

6
10
-16

The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

In [20]:
a =int(input("enter number1:"))
b =int(input("enter number2:"))

enter number1:3
enter number2:5

In [22]:
print(a//b)
print(a/b)

0
0.6

The provided code stub reads and integer,
from STDIN. For all non-negative integers  i<n, print i**2 .

In [30]:
n =int(input("enter number:"))

enter number:5

In [32]:

    for i  in range (n) :
        i=i**2
        print(i)

0
1
4
9
16

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

In [12]:
n =int(input("enter check year:"))

enter check year:2001

In [14]:
# divided by 4 and can not divided by 100 
# or can divided 400 
#Ture no  ture
#False no false
def checkyear(n):
    if (n % 4 == 0 and n % 100 != 0) or (n % 400 == 0):
           return True
    else:
        return False

In [15]:
output=checkyear(n)

In [16]:
print(output)

False