'''
Assignment: print the numbers using (start, end) using for loop,
and print if the number is odd or even using If conditon

Assignment.2: print numbers using start, end in for loop and add If conditon as the end MUST be less than the start.
'''

In [70]:
for i in range(99):
    if i%2==0:
        print (f"even is :{i}")
    else:
         print (f"odd is :{i}")

even is :0
odd is :1
even is :2
odd is :3
even is :4
odd is :5
even is :6
odd is :7
even is :8
odd is :9
even is :10
odd is :11
even is :12
odd is :13
even is :14
odd is :15
even is :16
odd is :17
even is :18
odd is :19
even is :20
odd is :21
even is :22
odd is :23
even is :24
odd is :25
even is :26
odd is :27
even is :28
odd is :29
even is :30
odd is :31
even is :32
odd is :33
even is :34
odd is :35
even is :36
odd is :37
even is :38
odd is :39
even is :40
odd is :41
even is :42
odd is :43
even is :44
odd is :45
even is :46
odd is :47
even is :48
odd is :49
even is :50
odd is :51
even is :52
odd is :53
even is :54
odd is :55
even is :56
odd is :57
even is :58
odd is :59
even is :60
odd is :61
even is :62
odd is :63
even is :64
odd is :65
even is :66
odd is :67
even is :68
odd is :69
even is :70
odd is :71
even is :72
odd is :73
even is :74
odd is :75
even is :76
odd is :77
even is :78
odd is :79
even is :80
odd is :81
even is :82
odd is :83
even is :84
odd is :85
even is :86
odd is :87
even is :88
odd is :89
even is :90
odd is :91
even is :92
odd is :93
even is :94
odd is :95
even is :96
odd is :97
even is :98

In [67]:
start=5
end=50

In [68]:
while  start<=end :
        if start%2==0:
                print (f"even is :{start}")
        else:
                print (f"odd is :{start}")
        start +=1

odd is :5
even is :6
odd is :7
even is :8
odd is :9
even is :10
odd is :11
even is :12
odd is :13
even is :14
odd is :15
even is :16
odd is :17
even is :18
odd is :19
even is :20
odd is :21
even is :22
odd is :23
even is :24
odd is :25
even is :26
odd is :27
even is :28
odd is :29
even is :30
odd is :31
even is :32
odd is :33
even is :34
odd is :35
even is :36
odd is :37
even is :38
odd is :39
even is :40
odd is :41
even is :42
odd is :43
even is :44
odd is :45
even is :46
odd is :47
even is :48
odd is :49
even is :50

In [91]:
start =99
end =8

In [92]:
if end <start:
        for i in range(start,end-1,-1):
            print(i)
else:
    print("not vaild")

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8

# # python_test _1

In [ ]:
'''write a code to make a calculator by using funcation and nested conditions'''

In [138]:
x=float(input("pls enter frist number:"))
y=float(input("pls enter second number:"))
op=input("pls choose like operation to Need:")

pls enter frist number:10
pls enter second number:0
pls choose like operation to Need:div

In [144]:
def calculatorSimple(x,y,op):
   
    if op == "add":
        output=x+y
    elif  op == "sub":
        output=x-y
    elif  op == "multi":
        output=x*y
    elif  op == "div":
        
        if y==0:
            output=("operation not vaild div over 0 ")
        else:
            output=x/y 
    elif   op =="floatdiv" :
        output=x//y
    elif  op =="power":
        output=x**y
    else :
        output="operation you enter not vaild"
        
    return output

In [145]:
print(calculatorSimple(x,y,op))

operation not vaild div over 0

'''
Data structure
1----mtability
2----order
3----dynamically
4----variety
'''

In [146]:
lst=[2,4,6]

In [147]:
print(lst)

[2, 4, 6]

In [148]:
#mutability &variety
lst.append("ahmed")

In [149]:
print(lst)

[2, 4, 6, 'ahmed']

In [150]:
#order
print(lst[2])

6

In [152]:
#dynamically
lst.insert(2,"amr")

In [153]:
lst

[2, 4, 'amr', 6, 'ahmed']

In [154]:
lst[0]=5

In [155]:
lst

[5, 4, 'amr', 6, 'ahmed']